body {
  font: normal 100%/1.4 'Open Sans', 'Lucida Grande', sans-serif;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  width: 100%; }

* {
  box-sizing: border-box; }

h1 {
  display: none;
  font-size: 4em;
  margin: 5.5em auto;
  text-align: center; }

article {
  margin: 2rem; }

p {
  margin-top: 0; }

.name-box {
  margin: 0;
  padding: 1rem;
  overflow: hidden; }

.text-box {
  margin: 0;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  overflow: hidden; }

.image-box {
  margin: 0;
  overflow: hidden; }

.light {
  background: rgba(255, 255, 255, 0.75); }

.normal {
  background: rgba(255, 255, 255, 0.5); }

.dark {
  background: rgba(255, 255, 255, 0.25); }

article,
.page {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.page > * {
  height: 240px;
  opacity: 0; }

.project .name-box {
  flex-basis: 20%;
  order: 1; }

.project .text-box {
  flex-basis: 40%;
  order: 2; }

.project .image-box {
  flex-basis: 40%;
  order: 3; }

.tiles .name-box,
.tiles .text-box,
.tiles .image-box {
  order: 1; }

.image-box {
  position: relative;
  overflow: hidden; }
  .image-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.gallery > * {
  flex-basis: 25%;
  height: 240px; }

.contact > * {
  flex-basis: 25%; }

@media (max-width: 639px) {
  .page .name-box {
    flex-basis: 100%;
    height: auto; }
  .page .text-box {
    flex-basis: 100%; }
  .page .image-box {
    flex-basis: 100%; } }

@media (min-width: 480px) and (max-width: 767px) {
  .page .name-box {
    flex-basis: 100%;
    height: auto; }
  .page .text-box {
    flex-basis: 50%; }
  .page .image-box {
    flex-basis: 50%; } }

/* tablet */
@media (min-width: 768px) and (max-width: 959px) {
  .page > * {
    height: 240px; }
  .page .name-box {
    flex-basis: 100%;
    height: auto; }
  .page .text-box {
    flex-basis: 50%; }
  .page .image-box {
    flex-basis: 50%; }
  .contact .name-box {
    flex-basis: 50%;
    order: 1; }
  .contact .text-box {
    flex-basis: 50%;
    order: 1; }
  .contact .image-box {
    flex-basis: 50%;
    order: 1; } }

/* desktop */
@media (min-width: 960px) {
  .page > * {
    height: 240px; }
  .page .name-box {
    flex-basis: 20%; }
  .page .text-box {
    flex-basis: 40%; }
  .page .image-box {
    flex-basis: 40%; }
  .gallery .name-box {
    flex-basis: 33.33%; }
  .gallery .text-box {
    flex-basis: 33.33%; }
  .gallery .image-box {
    flex-basis: 33.33%; } }

@media (min-width: 1440px) {
  body {
    font: normal 140%/1.4 'Open Sans', 'Lucida Grande', sans-serif; }
  .page > * {
    height: 360px; } }

@media (min-width: 1920px) {
  body {
    font: normal 160%/1.4 'Open Sans', 'Lucida Grande', sans-serif; }
  .page > * {
    height: 480px; } }
