body {
  font: normal 100%/1.4 'Open Sans', 'Lucida Grande', sans-serif;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  width: 100%; }

* {
  box-sizing: border-box; }

article {
  margin-bottom: 2rem; }

p {
  margin-top: 0; }

.introduction {
  background: #eee;
  padding: 25vh 0 10vh;
  text-align: center; }
  .introduction header {
    margin-bottom: 20vh; }
    .introduction header h1 {
      margin: 0;
      font-size: 16vh;
      line-height: 20vh;
      color: #444; }
    .introduction header h2 {
      margin: 0;
      font-size: 6vh;
      line-height: 15vh;
      font-weight: normal;
      color: #888; }
  .introduction p {
    font-size: 3vh;
    line-height: 10vh;
    margin: 0;
    color: #aaa; }
  .introduction p:after {
    content: '';
    color: #000;
    display: block;
    width: 16px;
    height: 16px;
    margin: 10px auto;
    border: 4px solid #444;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 100 {
    margin-top: 10px;
    margin-bottom: 10px; }
  50% {
    margin-top: 20px;
    margin-bottom: 0px; } }

.projects {
  padding: 0 2rem;
  border-top: 2rem solid #fff; }

.name-box {
  margin: 0;
  padding: 1rem;
  overflow: hidden; }

.text-box {
  margin: 0;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  overflow: hidden; }

.image-box {
  margin: 0;
  overflow: hidden; }

.light {
  background: rgba(255, 255, 255, 0.75); }

.normal {
  background: rgba(255, 255, 255, 0.5); }

.dark {
  background: rgba(255, 255, 255, 0.25); }

article,
.page {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.page > * {
  height: 240px;
  opacity: 0; }

.project .name-box {
  flex-basis: 20%;
  order: 1; }

.project .text-box {
  flex-basis: 40%;
  order: 2; }

.project .image-box {
  flex-basis: 40%;
  order: 3; }

.tiles .name-box,
.tiles .text-box,
.tiles .image-box {
  order: 1; }

.image-box {
  position: relative;
  overflow: hidden; }
  .image-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.gallery > * {
  flex-basis: 25%;
  height: 240px; }

.contact > * {
  flex-basis: 25%; }

@media (max-width: 639px) {
  .page .name-box {
    flex-basis: 100%;
    height: auto; }
  .page .text-box {
    flex-basis: 100%; }
  .page .image-box {
    flex-basis: 100%; } }

@media (min-width: 480px) and (max-width: 767px) {
  .page .name-box {
    flex-basis: 100%;
    height: auto; }
  .page .text-box {
    flex-basis: 50%; }
  .page .image-box {
    flex-basis: 50%; } }

/* tablet */
@media (min-width: 768px) and (max-width: 959px) {
  .page > * {
    height: 240px; }
  .page .name-box {
    flex-basis: 100%;
    height: auto; }
  .page .text-box {
    flex-basis: 50%; }
  .page .image-box {
    flex-basis: 50%; }
  .contact .name-box {
    flex-basis: 50%;
    order: 1; }
  .contact .text-box {
    flex-basis: 50%;
    order: 1; }
  .contact .image-box {
    flex-basis: 50%;
    order: 1; } }

/* desktop */
@media (min-width: 960px) {
  .page > * {
    height: 240px; }
  .page .name-box {
    flex-basis: 20%; }
  .page .text-box {
    flex-basis: 40%; }
  .page .image-box {
    flex-basis: 40%; }
  .gallery .name-box {
    flex-basis: 33.33%; }
  .gallery .text-box {
    flex-basis: 33.33%; }
  .gallery .image-box {
    flex-basis: 33.33%; } }

@media (min-width: 1440px) {
  body {
    font: normal 140%/1.4 'Open Sans', 'Lucida Grande', sans-serif; }
  .page > * {
    height: 360px; } }

@media (min-width: 1920px) {
  body {
    font: normal 160%/1.4 'Open Sans', 'Lucida Grande', sans-serif; }
  .page > * {
    height: 480px; } }
