body {
  font: normal 100%/1.4 'Open Sans', 'Lucida Grande', sans-serif;
  color: #aaa;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  // color: $text-main-color;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  width: 100%;
}

body {
  // width: 960px;
  // height: 1000px;
  // margin: 0 auto;
  // background: #eee;
  // border: 1px solid #ccc;
  // border-width: 0 1px;
}
* {
  box-sizing: border-box;
}

h1 {
  display: none;
  font-size: 4em;
  margin: 5.5em auto;
  text-align: center;
}

article {
  // width: 480px;
  margin: 2rem;
  // margin-bottom: 2rem;
  // padding: 2em;
  // background: #aaa;
  // border-top: .5em solid #888;

  // padding-left: 2em;

  // height: 360px;
}

p {
  margin-top: 0;
}

.description {
  margin: 0;
  padding: 1rem;
  
  background: #bbb;
}
h2 {
  margin: 0;
  padding: 1rem;
  
  background: #ddd;
}
img {
  background: #888;
}


.project {
  display: flex;

  justify-content: center;
  color: #000;

  // visibility: hidden;
}
.project > * {
  // display: none;
  // visibility: hidden;
  height: 240px;
  opacity: 0;
  // display: none;

}

.project img {
  // width: 640px;
  width: auto;
  
  flex-basis: 50%;
  flex-basis: 40%;
  order: 3;
}
.project .name {
  // height: 360px;
  

  // flex-basis: 20%;
  // flex-basis: 20%;
  order: 1;

}
.project .description {
  // height: 360px;
  overflow: hidden;

  flex-basis: 30%;
  flex-basis: 40%;
  order: 2;
}




.gallery {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  // justify-content: center;
  // align-items: flex-start;

  color: #000;
  // align-items: stretch;
}
.gallery > * {
  // display: none;
  flex-basis: 33.33%;
  flex-basis: 25%;
  height: 240px;
}
.gallery h2 {
  // flex-basis: 33.33%;
  // height: 240px;
}
.gallery .description {
  // flex-basis: 33.33%;
  // height: 240px;
}
.gallery img {
  // padding-right: 2em;
  // padding: 1rem;
  // height: 240px;

  // flex-basis: 33.33%;

}