/* desktop */
// @media (min-width: 1025px) {
@media (min-width: 960px) {
  .project {
    flex-wrap: wrap;
    .name {
      flex-basis: 20%;
      // height: auto;
    }
    .description {
      flex-basis: 40%;
    }
    .image {
      flex-basis: 40%;
    }
  }

  .gallery {
    .name {
      flex-basis: 33%;
    }
    .description {
      flex-basis: 33%;
    }
    .image {
      flex-basis: 33%;
    }
  }
}