/* desktop */
// @media (min-width: 1025px) {
@media (min-width: 960px) {
  body {
    // border-top: 1em solid #17f;
  }
  .page > * {
    height: 240px;
  }
  .page {
    // display: flex;
    // flex-wrap: wrap;
    .name-box {
      flex-basis: 20%;
      // height: auto;
    }
    .text-box {
      flex-basis: 40%;
    }
    .image-box {
      flex-basis: 40%;
    }
  }

  .gallery {
    .name-box {
      flex-basis: 33.33%;
      // flex-grow: 1;
    }
    .text-box {
      flex-basis: 33.33%;
      // flex-grow: 1;
    }
    .image-box {
      flex-basis: 33.33%;
      // flex-grow: 1;
    }
  }
  .gallery > * {
    // flex-grow: 1;
  }
}

@media (min-width: 1440px) {
  body {
    font: normal 140%/1.4 'Open Sans', 'Lucida Grande', sans-serif;
  }
  .page > * {
    height: 360px;
  }
}
@media (min-width: 1920px) {
  body {
    font: normal 160%/1.4 'Open Sans', 'Lucida Grande', sans-serif;
  }
  .page > * {
    height: 480px;
  }
}