/* mobile */
@media (max-width: 659px) {
  body {
  	// border-top: 1em solid red;
  }
  article {
    margin: 1rem;
  }

  .project {
    // border: 1px solid #0f0;
    flex-wrap: wrap;
    .name {
      flex-basis: 100%;
      height: auto;
    }
    .description {
      flex-basis: 100%;
    }
    .image {
      flex-basis: 100%;
    }
  }
}