// mobile portrait
@media (max-width: 639px) {
  body {
  	// border-top: 1em solid maroon;
  }
  // article {
  //   margin: 1rem;
  // }

  .page {
    // display: flex;
    // flex-wrap: wrap;
    .name-box {
      flex-basis: 100%;
      height: auto;
    }
    .text-box {
      flex-basis: 100%;
    }
    .image-box {
      flex-basis: 100%;
    }
  }
}
// mobile landscape, small tablet
@media (min-width: 480px) and (max-width: 767px) {
  body {
    // border-top: 1em solid red;
  }
  article {
    // margin: 1rem;
  }

  .page {
    // border: 1px solid #0f0;
    // display: flex;
    // flex-wrap: wrap;
    .name-box {
      flex-basis: 100%;
      height: auto;
    }
    .text-box {
      flex-basis: 50%;
    }
    .image-box {
      flex-basis: 50%;
    }
  }
}