/* tablet */
@media (min-width: 768px) and (max-width: 959px) {
  .project {
    // border: 1px solid #0f0;
    flex-wrap: wrap;
    .name {
      flex-basis: 100%;
      height: auto;
    }
    .description {
      flex-basis: 50%;
    }
    .image {
      flex-basis: 50%;
    }
  }
}